@media (max-width: 750px) {
  // zmniejszenie paddingu w sekcji
  section {
    padding: 36px 20px;
  }

  // ukrycie top-menu
  .top-menu {
    display: none;
  }

  .container:nth-child(1) {
    margin-top: 10px;
  }

  form:nth-child(1) {
    margin-top: 10px;
  }

  form .form--agreement {
    padding: 36px 20%;
  }

  .side-menu__top-menu {
    // visibility: visible;
    display: block;

    &--wallet img:nth-child(2) {
      display: none;
    }
  }

  // tabelka w General statistic
  .table-flex {
    display: block;
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media (max-width: 660px) {
  .date-filter {
    .date-filter-wrapper {
      .date-filter-img {
        display: none;
      }

      input {
        min-width: 30px;
        padding: 12px 5px;
      }
    }
  }

  .table-main {
    tr {
      flex-direction: column;

      .title h3 {
        margin: 0;
      }
    }
  }
}

@media (max-width: 570px) {
  #payout .tabble-wrapper {
    width: 90%;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;

    thead {
      tr {
        position: absolute;
        top: -1000px;
        left: -1000px;
      }

      th {
        padding: 14px;
        display: block;
        width: 100%;
      }
    }

    tbody {
      tr {
        width: 100%;
        border: none;
        border-bottom: 4px solid $more-grey-color;
      }

      td {
        display: block;
        width: 100%;
        border: none;
        border-bottom: 1px solid #E3E3E3;
        position: relative;
        padding-left: 45%;
      }

      td::before {
        content: '';
        font-weight: bold;
        font-size: 14px;
        color: #A6A6A6;
        position: absolute;
        top: 14px;
        left: 14px;
        padding-right: 20px;
        white-space: nowrap;
      }

      td:first-of-type::before {
        content: "Date:";
      }

      td:nth-child(2)::before {
        content: "Amount:";
      }

      td:nth-child(3)::before {
        content: "Deal:";
      }

      td:nth-child(4)::before {
        content: "Account:";
      }
    }
  }

  #link-modal {
    .wrapper {
      flex-direction: column;
    }

    .link-buttons {
      flex-direction: column;

      div {
        display: flex;
        justify-content: center;
      }
    }
  }

  form .form--agreement {
    padding: 36px 5px;
  }
}

@media (max-width: 470px) {
  .table-main {
    .url a {
      font-size: 12px;
    }
  }

  .field {
    flex-direction: column;

    input {
      min-height: 35px;
    }
  }

  .messages-wrapper {
    flex-direction: column;
  }

  .send-wrapper {
    flex-direction: column;
  }
}

@media (max-width: 360px) {
  form {
    section {
      padding: 36px 0;
    }
  }
}
