@media (max-width: 750px) {
  // zmniejszenie paddingu w sekcji
  section {
    padding: 36px 20px;
  }

  // ukrycie top-menu
  .top-menu {
    display: none;
  }

  .container:nth-child(1) {
    margin-top: 10px;
  }

  form:nth-child(1) {
    margin-top: 10px;
  }

  form .form--agreement {
    padding: 36px 20%;
  }

  .side-menu__top-menu {
    // visibility: visible;
    display: block;

    &--wallet img:nth-child(2) {
      display: none;
    }
  }

  // tabelka w General statistic
  .table-flex {
    display: block;
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media (max-width: 660px) {
  .date-filter {
    .date-filter-wrapper {
      .date-filter-img {
        display: none;
      }

      input {
        min-width: 30px;
        padding: 12px 5px;
      }
    }
  }

  .table-main {
    tr {
      flex-direction: column;

      .title h3 {
        margin: 0;
      }
    }
  }
}

@media (max-width: 570px) {
  #link-modal {
    .wrapper {
      flex-direction: column;
    }

    .link-buttons {
      flex-direction: column;

      div {
        display: flex;
        justify-content: center;
      }
    }
  }

  form .form--agreement {
    padding: 36px 5px;
  }
}

@media (max-width: 450px) {
  .table-main {
    .url a {
      font-size: 12px;
    }
  }

  .field {
    flex-direction: column;

    input {
      min-height: 35px;
    }
  }
}

@media (max-width: 360px) {
  form {
    section {
      padding: 36px 0;
    }
  }
}
