.field {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;

  label {
    flex: 0 0 30%;
    padding-right: 5px;
    text-align: left;
  }

  input {
    flex: 0 0 40%;
    height: 35px;
    border: 1px solid $more-grey-color;
    border-radius: 5px;
    color: $very-dark-color;
  }
}

.form--agreement {
  padding-left: 30%;
  padding-right: 30%;
  text-align: left;
  font-size: 12px;

  input {
    margin-right: 8px;
  }
}

.error {
  margin-top: 0;
  color: $alert-color;
}

.invalid input {
  border-color: $alert-color;
}
