.table-links {
  margin: 20px auto 0 auto;
  width: 100%;
  border-collapse: separate;
  text-align: justify;
  border-top: 1px solid $grey-color;
  border-collapse: collapse;
  margin-bottom: 25px;

  tr {
    border-bottom: 1px solid $grey-color;
    height: 60px;
    display: flex;
    align-items: center;

    &:hover {
      background-color: $grey-color;

      .icons img {
        display: inline;
        filter: invert(0.5);
      }

      img:hover {
        filter: invert(0);
        width: 18px;
        height: 18px;
      }

      .icons-link {
        visibility: visible;
        // display: inline-flex;

        :hover {
          width: 18px;
          height: 18px;
        }

      }
    }
  }

  .title {
    flex: 3;

    h3 {
      font-size: 16px;
      margin-bottom: 0;
    }
  }

  .url {
    flex: 3.5;
  }

  .icons {
    flex: 0.7;

    .icons-link {
      display: inline;
      visibility: hidden;
      margin-right: 10px;
      cursor: pointer;
    }

    img {
      display: none;
      cursor: pointer;
    }
  }
}
