.content {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

h2 {
  // border-bottom: 1px solid $grey-color;
  padding-left: 21px;
  padding-bottom: 0;
}

.date-filter {
  text-align: center;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;

  &::after {
    box-sizing: content-box;
  }

  input {
    border: 1px solid $more-grey-color;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-right: 0;
    height: 40px;
    width: 300px;
    text-align: center;
    color: $very-dark-color;
  }

  .calendar {
    border: 1px solid $more-grey-color;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-left: 0;
    height: 40px;

    img {
      filter: invert(50%);
      text-align: center;
      margin: 8px 12px 0 0;
    }
  }

  .btn-data-filter {
    width: 41px;
    margin-left: 12px;

    img {
      filter: invert(100%);
    }
  }
}

.table-statistic {
  border-spacing: 10px;
  margin: 0 auto;
  width: 100%;
  border-collapse: separate;

  &__cell {
    width: auto;
    position: relative;
    padding: 0;
    border-bottom: 1px solid $grey-color;
    border-right: 25px solid $white-color;
    border-left: 25px solid $white-color;
    text-align: justify;
  }

  h3, p {
    display: inline;
  }

  p {
    position: absolute;
    right: 0;
    margin: 0;
    color: $very-dark-color;
  }

}

.chart {
  padding-bottom: 15px;

  h3{
    text-align: left;
    padding-left: 15px;
  }
}

@media (max-width: 500px) {
  .content {
    grid-row-start: 1;
    grid-row-end: 3;

    .container:nth-child(1) {
      margin-top: 0;
    }
  }
}
