.box-wrapper {
  padding: 10px;

  p {
    text-align: left;
  }

  input, select {
    border: 1px solid $more-grey-color;
    border-radius: 5px;
    color: $dark-color;
  }
}

.messages-wrapper {
  display: flex;
  justify-content: space-araund;

  div {
    flex: 1;
    padding-bottom: 5px;

    h3 {
      text-align: left;
      padding: 0 3px;
    }

    input {
      width: 97%;
      height: 150px;
      padding: 0 3px;

    }

    select {
      width: 97%;
      padding: 10px;
    }
  }
}
