.table-details {
  font-size: 11px;
}

.table-details {
  th, td {
    flex: 1;
    margin: 16px 0;
  }

  tr {
    display: table-row;
  }

  td {
    font-size: 13px;
  }
}

.dataTables {
  &_scroll {
    margin: auto;
    // overflow-x: scroll;
    width: 70vw;
  }

  &_length {
    padding: 0 15px;
  }

  &_filter {
    padding: 0 15px;
  }

  &_info {
    padding: 0 15px;
  }

  &_paginate {
    padding: 0 15px;
  }

  &_wrapper.no-footer .dataTables_scrollBody {
    border-bottom-width: 0;
  }
}


@media (max-width: 940px){
  .dataTables_scroll {
    width: 65vw;
  }
}

@media (max-width: 800px){
  .dataTables_scroll {
    width: 60vw;
  }
}

@media (max-width: 750px){
  .dataTables_scroll {
    width: 70vw;
  }
}

@media (max-width: 460px){
  .dataTables_scroll {
    width: 65vw;
  }
}

@media (max-width: 400px){
  .dataTables_scroll {
    width: 60vw;
  }
}

@media (max-width: 350px){
  .dataTables_scroll {
    width: 50vw;
  }
}
