*, *::before, *::after {
  box-sizing: border-box;
}

// grid
.dashboard {
  display: grid;
  grid-template-areas: 'menu main';
  grid-template-columns: 200px 1fr;
  // grid-gap: 10px;
  // padding: 10px;
}

.min-grid {
  grid-template-columns: 60px 1fr !important;
}

.side-menu {
  grid-area: menu;
}

.top-menu {
  grid-area: header;
}

.content {
  grid-area: main;
}

// style
body {
  margin: 0;
  background: $grey-color;
  font-family: $text-font;
  font-size: 14px;
  line-height: 1.7;
  font-weight: $main-family;
  color: $dark-color;
}

.container, form {
  // max-width: 1056px;
  // height: 500px;
  margin: 17px 20px;
  // padding: 0 0 37px 0;
  background-color: $white-color;
  color: $more-grey-color;
  box-shadow: 1px 1px 8px 1px $more-grey-color;
}

.container:nth-child(1) {
  margin-top: 70px;
}

form:nth-child(1) {
  margin-top: 70px;
}

hr {
  // color: $grey-color;
  border: 0.5px solid $grey-color;
  margin: 0;
}

section {
  // border-top: 1px solid $grey-color;
  // max-width: 1056px;
  padding: 36px 13%;
  text-align: center;
}

h1 {
  font-family: $main-family;
  font-size: 26px;
  font-weight: $font-bold;
  color: $paragraph-color;
  text-transform: uppercase;
}

h2 {
  font-family: $main-family;
  font-size: 16px;
  font-weight: $font-semibold;
  color: $paragraph-color;
  text-transform: uppercase;
  padding: 17px 18px 15px 18px;
  margin: 0;
}

h3 {
  font-family: $main-family;
  font-size: 14px;
  font-weight: $font-semibold;
  color: $paragraph-color;
  // text-transform: uppercase;
}

li {
  font-family: $main-family;
  font-size: 16px;
  font-weight: $font-semibold;
  color: $paragraph-color;
}

a {
  font-family: $main-family;
  font-size: 16px;
  font-weight: $font-normal;
  color: $links-color;
}

img, i {
  // vertical-align: none;
  color: $more-grey-color;

}

.btn {
  padding: 11px 20px;
  background-color: $btn-color-orange;
  color: $white-color;
  border-radius: 3px;
  cursor: pointer;

  &:hover {
    // color: $more-grey-color;
    box-shadow: 1px 1px 8px 1px $more-grey-color;
  }

  &--cancel {
    background-color: $more-grey-color;
  }

  &--quit {
    background-color: #C73323;
  }
}

button {
  border: none;
}

input:focus {
  background-color: $grey-color;
}

input:valid {
  outline-color: $access-color;
}

input:invalid {
  outline-color: $alert-color;
}

// aktywacja podstron w init-project.js
#pages > * {
  display: none;
}

#pages > .active {
  display: block;
}
