*, *::before, *::after {
  box-sizing: border-box;
}

// grid
.dashboard {
  display: grid;
  grid-template-areas: 'menu menu header header header' 'menu menu main main main';
  // grid-gap: 10px;
  // padding: 10px;
}

.side-menu {
  grid-area: menu;
}

.top-menu {
  grid-area: header;
}

.content {
  grid-area: main;
}

// style
body {
  margin: 0;
  background: $grey-color;
  font-family: $text-font;
  font-size: 14px;
  line-height: 1.7;
  font-weight: $main-family;
  color: $dark-color;
}

.container {
  // max-width: 1056px;
  // height: 500px;
  margin: 17px 20px;
  // padding: 0 0 37px 0;
  background-color: $white-color;
  color: $more-grey-color;
  box-shadow: 1px 1px 8px 1px $more-grey-color;
}

hr {
  // color: $grey-color;
  border: 0.5px solid $grey-color;
  margin: 0;
}

section {
  // border-top: 1px solid $grey-color;
  // max-width: 1056px;
  padding: 36px 188px;
  text-align: center;
}

h1 {
  font-family: $main-family;
  font-size: 26px;
  font-weight: $font-bold;
  color: $paragraph-color;
  text-transform: uppercase;
}

h2 {
  font-family: $main-family;
  font-size: 16px;
  font-weight: $font-semibold;
  color: $paragraph-color;
  text-transform: uppercase;
  padding: 17px 18px 15px 18px;
  margin: 0;
}

h3 {
  font-family: $main-family;
  font-size: 14px;
  font-weight: $font-semibold;
  color: $paragraph-color;
  // text-transform: uppercase;
}

li {
  font-family: $main-family;
  font-size: 16px;
  font-weight: $font-semibold;
  color: $paragraph-color;
}

a {
  font-family: $main-family;
  font-size: 16px;
  font-weight: $font-normal;
  color: $links-color;
}

img, i {
  // vertical-align: none;
  color: $more-grey-color;

}

.btn {
  padding: 11px 14px;
  background-color: $btn-color-orange;
  color: $white-color;
  border-radius: 3px;
  cursor: pointer;

  &:hover {
    // color: $more-grey-color;
    box-shadow: 1px 1px 8px 1px $more-grey-color;
  }
}
