@media (max-width: 500px) {
  // zmniejszenie paddingu w sekcji
  section {
    padding: 36px 20px;
  }

  // ukrycie top-menu
  .top-menu {
    display: none;
  }

  .container:nth-child(1) {
    margin-top: 10px;
  }

  form:nth-child(1) {
    margin-top: 10px;
  }

  // wersja short side-menu
  .min-grid {
    // .hamburger {
    //   visibility: visible;
    // }

    // .side-menu__header {
    //   img {
    //     display: none;
    //   }
    // }

    // .side-menu__manager {
    //   h2 {
    //     display: none;
    //   }

    //   &__row {
    //     .manager-image::after {
    //       height: 9px;
    //       width: 9px;
    //       margin-left: -5px;
    //       margin-top: 25px;
    //     }

    //     p {
    //       display: none;
    //     }

    //     img {
    //       height: 26px;
    //       width: 26px;
    //       margin-left: 13px;
    //       margin-top: 25px;
    //     }
    //   }
    // }

    .side-menu__top-menu {
      // visibility: visible;
      display: block;

      &--wallet img:nth-child(3) {
        display: none;
      }
    }
  }

  // zawartość top-menu w .side-menu
  // .side-menu__top-menu {
  //   p {
  //     display: block;
  //   }
  // }

  // .side-menu__top-menu--wallet {
  //   img:nth-child(3) {
  //     display: block;
  //   }
  // }

  // wysuwane side-menu
  // .side-menu {
  //   .hamburger {
  //     color: $btn-color-orange;
  //   }

  //   .side-menu__header {
  //     img {
  //       display: block;
  //       // z-index: 2;
  //     }
  //   }

  //   .side-menu__links {
  //     p {
  //       display: flex;
  //     }
  //   }

  //   .side-menu__manager{
  //     h2 {
  //       display: flex;
  //     }

  //     .manager-image::after {
  //       height: 11px;
  //       width: 11px;
  //       margin-left: -10px;

  //       img {
  //         height: 43px;
  //         width: 43px;
  //         margin-left: 15px;
  //       }
  //     }

  //     p {
  //       display: flex;
  //       padding-top: 30px;
  //     }
  //   }

  //   .side-menu__top-menu {
  //     p {
  //       display: block;
  //     }
  //   }

  //   .side-menu__top-menu--wallet {
  //     img:nth-child(3) {
  //       display: block;
  //     }
  //   }
  // }

  // tabelka w General statistic
  .table-flex {
    display: block;
    padding-left: 18%;
    padding-right: 18%;
  }
}
