@media (max-width: 750px) {
  // zmniejszenie paddingu w sekcji
  section {
    padding: 36px 20px;
  }

  // ukrycie top-menu
  .top-menu {
    display: none;
  }

  .container:nth-child(1) {
    margin-top: 10px;
  }

  form:nth-child(1) {
    margin-top: 10px;
  }

  // wersja short side-menu
  .min-grid {
    // .hamburger {
    //   visibility: visible;
    // }

    // .side-menu__header {
    //   img {
    //     display: none;
    //   }
    // }

    // .side-menu__manager {
    //   h2 {
    //     display: none;
    //   }

    //   &__row {
    //     .manager-image::after {
    //       height: 9px;
    //       width: 9px;
    //       margin-left: -5px;
    //       margin-top: 25px;
    //     }

    //     p {
    //       display: none;
    //     }

    //     img {
    //       height: 26px;
    //       width: 26px;
    //       margin-left: 13px;
    //       margin-top: 25px;
    //     }
    //   }
    // }

    .side-menu__top-menu {
      // visibility: visible;
      display: block;

      &--wallet img:nth-child(3) {
        display: none;
      }
    }
  }

  // tabelka w General statistic
  .table-flex {
    display: block;
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media (max-width: 660px) {
  .date-filter {
    .date-filter-wrapper {
      .date-filter-img {
        display: none;
      }

      input {
        min-width: 30px;
        padding: 12px 5px;
      }
    }
  }

  .table-links {
    tr {
      flex-direction: column;

      .title h3 {
        margin: 0;
      }
    }
  }
}

@media (max-width: 500px) {

}
