@media (max-width: 750px) {
  // zmniejszenie paddingu w sekcji
  section {
    padding: 36px 20px;
  }

  // ukrycie top-menu
  .top-menu {
    display: none;
  }

  .container:nth-child(1) {
    margin-top: 10px;
  }

  form:nth-child(1) {
    margin-top: 10px;
  }

  .side-menu__top-menu {
    // visibility: visible;
    display: block;

    &--wallet img:nth-child(2) {
      display: none;
    }
  }

  // tabelka w General statistic
  .table-flex {
    display: block;
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media (max-width: 660px) {
  .date-filter {
    .date-filter-wrapper {
      .date-filter-img {
        display: none;
      }

      input {
        min-width: 30px;
        padding: 12px 5px;
      }
    }
  }

  .table-main {
    tr {
      flex-direction: column;

      .title h3 {
        margin: 0;
      }
    }
  }
}

@media (max-width: 570px) {
  .field {
    flex-direction: column;

    input {
      min-height: 35px;
    }
  }

  .form--agreement {
    padding-left: 8%;
    padding-right: 8%;
  }
}

@media (max-width: 450px) {
  .table-main {
    .url a {
      font-size: 12px;
    }
  }
}


@media (max-width: 940px){
  .dataTables_scroll {
    width: 65vw;
  }
}

@media (max-width: 800px){
  .dataTables_scroll {
    width: 60vw;
  }
}

@media (max-width: 750px){
  .dataTables_scroll {
    width: 70vw;
  }
}

@media (max-width: 460px){
  .dataTables_scroll {
    width: 65vw;
  }
}

@media (max-width: 400px){
  .dataTables_scroll {
    width: 60vw;
  }
}

@media (max-width: 350px){
  .dataTables_scroll {
    width: 50vw;
  }
}
