.date-filter {
  // text-align: center;
  display: flex;
  // flex-wrap: nowrap;
  justify-content: center;

  &::after {
    box-sizing: content-box;
  }

  .date-filter-wrapper {
    position: relative;

    input {
      border: 1px solid $more-grey-color;
      border-radius: 3px;
      padding: 12px 60px;
      text-align: center;
      color: $very-dark-color;
      min-width: 300px;
      outline: none;
    }

    .date-filter-img {
      position: absolute;
      right: 20%;
      top: 25%;
      filter: invert(50%);
    }

    .btn-data-filter img {
      filter: invert(100%);
    }
  }
}
