.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba(27.8, 32.9, 23.5, 0.7);
  justify-content: center;
  align-items: center;
  overflow: auto;
  padding: 30px;
  display: none;

  // .show {
  //   display: flex;
  // }

  ::-webkit-scrollbar{
    display: none;
  }
}

.overlay.show {
  display: flex;
}

.modal {
  max-width: 600px;
  margin: auto;
  background-color: #ffffff;
  position: relative;
  padding: 10px 35px;
  border-radius: 5px;
  display: none;

  // .show {
  //   display: block;
  // }

  h4 {
    color: $very-dark-color;
    margin-bottom: 5px;
  }

  .btn-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px 10px;
    cursor: pointer;

    &:hover {
      font-weight: 700;
      color: #C73323;
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-around;

    button {
      margin: 3px;
    }

    .btn--quit {
      width: 83px;
    }
  }
}

.modal.show {
  display: block;
}

.modal-wrapper {
  text-align: center;

  input {
    height: 35px;
    margin: 5px;
    border: 1px solid $more-grey-color;
    border-radius: 5px;
    padding-left: 25px;
  }
}

.icon-input {
  position: relative;

  i {
    position: absolute;
    z-index: 4;
    top: 33%;
    left: 5%;
  }
}

