.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba(27.8, 32.9, 23.5, 0.7);
  justify-content: center;
  align-items: center;
  overflow: auto;
  padding: 30px;
  display: none;

  // .show {
  //   display: flex;
  // }

  ::-webkit-scrollbar{
    display: none;
  }
}

.overlay.show {
  display: flex;
}

.modal {
  max-width: 600px;
  margin: auto;
  background-color: #ffffff;
  position: relative;
  padding: 10px 35px;
  border-radius: 5px;
  display: none;

  // .show {
  //   display: block;
  // }

  h4 {
    color: $very-dark-color;
    margin-bottom: 5px;
  }

  .btn-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px 10px;
    cursor: pointer;

    &:hover {
      font-weight: 700;
      color: #C73323;
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-around;

    button {
      margin: 3px;
    }

    .btn--quit {
      width: 83px;
    }

    input {
      width: 100%;
      margin: 3px;
      border-radius: 5px;
      border: 1px solid $more-grey-color;
    }
  }
}

.modal.show {
  display: block;
}

.modal-wrapper {
  text-align: center;

  input {
    height: 35px;
    margin: 5px;
    border: 1px solid $more-grey-color;
    border-radius: 5px;
    padding-left: 25px;
  }
}

.icon-input {
  position: relative;

  i {
    position: absolute;
    z-index: 4;
    top: 33%;
    left: 5%;
  }
}

.modal-box {
  display: flex;

  &__flex1 {
    flex: 1;
    padding: 0 4px;
  }

  &__flex2 {
    flex: 2;
    padding: 0 4px;
  }
}

.wrapper {
  input, select {
    width: 100%;
    padding: 5px 0;
    border-radius: 5px;
    border: 1px solid $more-grey-color;
  }

  input {
    padding: 6px 0;
  }
}

.select {
  padding-bottom: 25px;

  &-overflow {
    overflow-y: auto;
    height: 200px;
  }

  &-wrapper {
    flex-wrap: wrap;

    div {
      flex: 30%;
      min-width: 140px;
      padding: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      input {
        flex: 1;
      }

      label {
        flex: 2;
      }

      img {
        flex: 1;
        display: none;
        filter: invert(50%);
        cursor: pointer;
      }

      &:hover {
        background-color: $grey-color;
        cursor: pointer;

        img {
          display: flex;
        }

        img:hover {
          filter: invert(0);
        }
      }
    }
  }
}

.link-buttons {
  div {
    display: flex;
  }
}

.overlay ::-webkit-scrollbar {
  background-color: $grey-color;
  display: unset;
}

.overlay ::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #555555;
}

