// notifications box


// .top-menu::after {
//   position: absolute;
//   height: 39px;
//   width: 100%;
//   content: '';
//   bottom: -50%;
//   background-color: #96cc9b;
//   // display: none;
// }

// notification box (green or red); teraz niewidoczne bo display=none
.not-positive {
  position: absolute;
  height: 39px;
  width: 100%;
  content: '';
  padding-top: 8px;
  left: 0;
  top: 60px;
  background-color: #96cc9b;
  display: flex;
  display: none;

  .not-box {
    flex: 1 1;
    color: $white-color;
    text-align: right;
    display: inline;
  }

  p {
    display: inline-block;
    margin-left: -3%;
    color: $white-color;
  }

  img {
    filter: invert(1);
    margin-right: 19px;
    margin-bottom: 2px;
  }

}

.not-negative {
  position: absolute;
  height: 39px;
  width: 100%;
  content: '';
  padding-top: 8px;
  left: 0;
  top: 60px;
  background-color: #ec7171;
  display: flex;
  display: none;

  .not-box-first {
    flex: 2 1;
    color: $white-color;
    text-align: right;
    display: inline;
  }

  .not-box-second {
    flex: 1 1;
    color: $white-color;
    text-align: right;
    display: inline;
  }

  p {
    display: inline-block;
    margin-left: -9px;
    color: $white-color;
  }

  img {
    filter: invert(1);
    margin-right: 19px;
    margin-bottom: 2px;
  }
}

// dropdown notifications

.dropdown__notif {
  position: absolute;
  // height: 138px;
  width: 234px;
  content: '';
  background-color: $grey-color;
  border: 1px solid $border-color;
  box-shadow: 1px 1px 8px 1px $more-grey-color;
  // display: block;
  top: 0;
  z-index: 1;
  display: none;

  &__main {
    height: 60px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;

    img {
      flex: 0;
      margin: 0 23px;
    }

    img:nth-child(1) {
      filter: invert(0%);
    }

    img:nth-child(2) {
      cursor: pointer;
    }
  }

  &__list {
    display: block;
    margin: 0 24px;
    position: relative;

    p {
      font-size: 12px;
      line-height: 26px;
      color: $links-color;
      text-align: left;
      cursor: pointer;
    }

    p::after {
      content: '';
      position: absolute;
      height: 8px;
      width: 8px;
      margin: 8px 2px 0 15px;
      right: 0;
      border-radius: 50%;
      background-color: $btn-color-orange;
      cursor: default;
    }
  }
}

.top-menu__notifications:hover {
  .dropdown__notif {
    display: block;
  }
}
