.dashboard {
  display: grid;
  grid-template-columns: 188px auto;
  grid-template-rows: 60px 318px auto;
  background-color: $grey-color;
  height: 100%;
}

.side-menu {
  grid-column-start: 1;
  grid-column-end: 1;
  background-color: $dark-color;
  // grid-row-start: 3;
  // grid-row-end: 3;

  &__header {
    display: flex;
    grid-row-start: 1;
    grid-row-end: 1;
    background-color: $dark-color;
    height: 100%;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    i {
      padding: 0 18px;
      font-size: 20px;
    }
  }

  &__links {
    grid-row-start: 2;
    grid-row-end: 2;
    height: 318px;
    background-color: $dark-color;
    margin-bottom: 0;
    list-style-type: none;
  }

  &__manager {
    grid-row-start: 3;
    grid-row-end: 3;
    background-color: $dark-color;

    p {
      color: $user-color;
    }
  }
}

.logo {
  flex: 3 1 auto;
  height: 20px;
  color: $white-color;
}

.hamburger {
  flex: 1 1 auto;
}



.content {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}
