.dashboard {
  display: grid;
  // grid-template-columns: 188px auto;
  // grid-template-rows: 60px 318px auto;
  grid-template: 60px 318px 80px auto / 188px auto;
  // background-color: $grey-color;
  height: 100vh;
}

.side-menu {
  grid-column-start: 1;
  grid-column-end: 1;
  // position: fixed;
  background-color: $dark-color;

  &__header {
    display: flex;
    grid-row-start: 1;
    grid-row-end: 1;
    background-color: $dark-color;
    height: 100%;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    i {
      padding: 0 18px;
      font-size: 20px;
    }
  }

  &__links {
    grid-row-start: 2;
    grid-row-end: 2;
    height: 318px;
    background-color: $dark-color;
    margin-bottom: 0;
    padding: 0;
    list-style-type: none;

    li {
      height: 39px;
      padding: 13px 0 0 20px;
      display: flex;
      justify-content: space-around;
      // align-items: center;
    }

    img {
      flex: 1 1;
      margin-right: 15px;
      filter: invert(50%);
    }

    p {
      flex: 6 2;
      text-align: left;
      margin-top: -4px;
      font-size: 14px;
    }

  }

  &__manager {
    grid-row-start: 3;
    grid-row-end: 3;
    background-color: $dark-color;
    height: 100vh;
    // display: flex;
    // flex-wrap: nowrap;

    &__row {
      // display: table-cell;

      img {
        height: 43px;
        width: 43px;
        margin-left: 15px;
        border-radius: 50%;
        flex: 1 1;
        display: table-cell;
      }

      p {
        color: $user-color;
        flex: 3 1;
        padding-left: 12px;
        display: table-cell;
      }
    }

    h2 {
      flex: 1 1;
    }
  }
}

.logo {
  flex: 3 1;
  height: 20px;
  color: $white-color;
}

.hamburger {
  flex: 1 1;
}



.content {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}
