// #menu {
//   position: fixed;
//   // top: 0;
//   left: 188px;
//   max-width: 1140px;
// }

.menu {
  position: fixed;
  // top: 0;
  left: 188px;
  width: 85.5%;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
  background-color: $white-color;
  border-bottom: 1px solid $border-color;
  border-right: 1px solid $border-color;
}

.top-menu {
  // grid-column-start: 2;
  // grid-column-end: 2;
  // grid-row-start: 1;
  // grid-row-end: 1;
  // background-color: $white-color;
  // border-bottom: 1px solid $border-color;
  // border-right: 1px solid $border-color;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
  position: relative;

  &__wallet {
    padding-top: 15px;
    width: 184px;
    height: 60px;
    text-align: center;
    border-left: 1px solid $border-color;

    &__content {
      display: inline;
      font-size: 19px;
      color: $paragraph-color;
    }

    img:nth-child(1) {
      // padding-top: 0;
      display: inline;
      margin: 0 14px 8px 8px;
    }

    img:nth-child(3) {
      // padding-top: 0;
      display: inline;
      margin-left: 18px;
    }
  }

  &__notifications {
    padding-top: 18px;
    width: 60px;
    height: 60px;
    text-align: center;
    border-left: 1px solid $border-color;
  }

  &__notifications::after {
    content: '';
    position: absolute;
    height: 8px;
    width: 8px;
    margin-left: -8px;
    margin-top: 2px;
    margin-bottom: -4px;
    border-radius: 50%;
    background-color: $btn-color-orange;
  }

  &__profile {
    padding-top: 18px;
    height: 60px;
    width: 174px;
    text-align: center;
    border-left: 1px solid $border-color;

    img {
      display: inline;
      margin-right: 7px;
    }

    p {
      display: inline;
      color: $user-color;
      font-size: 13px;
    }
  }

  &__exit {
    padding-top: 17px;
    width: 60px;
    height: 60px;
    text-align: center;
    border-left: 1px solid $border-color;
  }

  img {
    filter: invert(50%);
  }
}
