// #menu {
//   position: fixed;
//   // top: 0;
//   left: 188px;
//   width: 85.5%;
//   max-width: 1140px;
// }

// .menu {
//   position: fixed;
//   // top: 0;
//   left: 188px;
//   width: 85.5%;
//   background-color: $white-color;
//   border-bottom: 1px solid $border-color;
//   border-right: 1px solid $border-color;
// }

.top-menu {
  background-color: $white-color;
  border-bottom: 1px solid $border-color;
  border-right: 1px solid $border-color;
  display: flex;
  // flex-direction: row;
  justify-content: flex-end;
  // align-items: center;
  // align-content: center;
  // position: relative;
  position: fixed;
  width: 100%;
  z-index: 2;

  &__wallet {
    padding: 15px 0;
    width: 16%;
    height: 60px;
    text-align: center;
    border-left: 1px solid $border-color;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;

    p {
      font-size: 19px;
      color: $paragraph-color;
    }

    // &__content {
    //   display: inline;
    //   font-size: 19px;
    //   color: $paragraph-color;
    // }

    img:nth-child(1) {
      padding: 1px;
      // display: inline;
      // margin-right: 18px;
    }

    img:nth-child(3) {
      // padding-top: 0;
      // display: inline;
      // margin-left: 18px;
    }
  }

  &__notifications {
    padding: 15px 0;
    width: 6%;
    height: 60px;
    text-align: center;
    border-left: 1px solid $border-color;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__notifications::after {
    content: '';
    position: absolute;
    height: 8px;
    width: 8px;
    margin-bottom: 8px;
    margin-left: 6px;
    border-radius: 50%;
    background-color: $btn-color-orange;
  }

  &__profile {
    padding: 15px 0;
    height: 60px;
    width: 15%;
    text-align: center;
    border-left: 1px solid $border-color;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;

    img {
      // display: inline;
      // margin-right: 7px;
    }

    p {
      // display: inline;
      color: $user-color;
      font-size: 13px;
    }
  }

  &__exit {
    padding: 15px 0;
    width: 6%;
    height: 60px;
    text-align: center;
    border-left: 1px solid $border-color;
    align-items: center;
    display: flex;
    justify-content: center;
  }

  img {
    filter: invert(50%);
    cursor: pointer;

    &:hover {
      filter: invert(0);
    }
  }
}

@media (max-width: 500px) {
  .top-menu {
    display: none;
  }
}


// @media (max-width: 500px) {
//   .dashboard {
//     grid-template-areas: 'menu menu main main main' 'header header main main main';
//   }

//   .top-menu {
//     flex-direction: column;
//     background-color: $very-dark-color;
//     border-bottom: 0;
//     border-right: 0;
//     width: 55px;
//     z-index: 4;
//     align-items: center;
//     bottom: 0;
//     position: absolute;

//     &__wallet {
//       border-left: 0;

//       p {
//         display: none;
//       }

//       img:nth-child(1) {
//         margin: 0;
//       }

//       img:nth-child(3) {
//         display: none;
//       }
//     }

//     &__profile {
//       border-left: 0;

//       p {
//         display: none;
//       }

//       img {
//         margin: 0;
//       }
//     }

//     &__notifications {
//       border-left: 0;
//     }

//     &__exit {
//       border-left: 0;
//     }
//   }
// }
