form {
  section {
    padding: 36px 20px;
  }

  .form--agreement {
    padding-left: 30%;
    padding-right: 30%;
    text-align: left;
    font-size: 12px;

    input {
      margin-right: 8px;
    }
  }
}

.field {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 0 auto;
  max-width: 700px;
  flex-wrap: wrap;

  label {
    flex: 0 0 25%;
    padding-right: 5px;
    text-align: left;
  }

  input {
    flex: 0 0 40%;
    height: 35px;
    border: 1px solid $more-grey-color;
    border-radius: 5px;
    color: $very-dark-color;
  }
}



.error {
  margin-top: 0;
  color: $alert-color;
  flex: 0 0 100%;
}

.invalid input {
  border-color: $alert-color;
}


