.tabble-wrapper {
  padding-right: 5%;
  padding-left: 5%;
  // width: 100%;
}

@media (max-width: 570px) {
  #payout .tabble-wrapper {
    width: 90%;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;

    thead {
      tr {
        position: absolute;
        top: -1000px;
        left: -1000px;
      }

      th {
        padding: 14px;
        display: block;
        width: 100%;
      }
    }

    tbody {
      tr {
        width: 100%;
        border: none;
        border-bottom: 4px solid $more-grey-color;
      }

      td {
        display: block;
        width: 100%;
        border: none;
        border-bottom: 1px solid #E3E3E3;
        position: relative;
        padding-left: 45%;
      }

      td::before {
        content: '';
        font-weight: bold;
        font-size: 14px;
        color: #A6A6A6;
        position: absolute;
        top: 14px;
        left: 14px;
        padding-right: 20px;
        white-space: nowrap;
      }

      td:first-of-type::before {
        content: "Date:";
      }

      td:nth-child(2)::before {
        content: "Amount:";
      }

      td:nth-child(3)::before {
        content: "Deal:";
      }

      td:nth-child(4)::before {
        content: "Account:";
      }
    }
  }
}
