.box-wrapper {
  padding: 0px 10px;

  p {
    text-align: left;
  }

  input, select {
    border: 1px solid $more-grey-color;
    border-radius: 5px;
    color: $dark-color;
  }
}

.messages-wrapper {
  display: flex;

  div {
    flex: 1;
    padding-bottom: 10px;

    h3 {
      text-align: left;
      padding: 0 3px;
    }

    // input {
    //   width: 97%;
    //   height: 150px;
    //   padding: 0 3px;
    // }

    // select {
    //   width: 97%;
    //   padding: 10px;
    // }
  }
}

.input-group {
  input {
    width: 97%;
    height: 150px;
    padding: 0 3px;

  }

  select {
    width: 97%;
    padding: 10px;
  }
}

.send-wrapper {
  display: flex;
  // justify-content: space-around;

  h3 {
    text-align: left;
    padding: 0 5px;
  }

  div:nth-child(1) {
    border-right: 1px solid $grey-color;
  }

  div {
    // border-top: 1px solid $more-grey-color;
    // border-bottom: 1px solid $more-grey-color;
    flex: 1;
  }
}

.send-status {
  overflow-y: scroll;
  height: 150px;

  ul {
    text-align: left;
    list-style-type: none;
  }

  label {
    font-size: 13px;
    font-weight: 400;
  }
}

.postback-btn {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
}
