.scroll-wrapper {
  display: block;
  width: 100%;
  overflow-x: auto;

  .table-details {
    font-size: 13px;
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;

    thead, tbody {
      margin: 0;
      padding: 0;
    }

    th, td {
      // flex: 1;
      padding: 15px;
      padding: 17px;
      text-align: left;
      white-space: nowrap;
    }

    tr {
      // display: table-row;
      border-bottom: 1px solid $border-color;
    }

    tbody tr {
      font-size: 13px;
      color: $very-dark-color;

      &:hover {
        background-color: $grey-color;
        cursor: pointer;
      }
    }

    thead tr th {
      // padding: 3px 17px;

      &:hover {
        background-color: $grey-color;
        cursor: pointer;
        color: $very-dark-color;
        border-radius: 5px;
        margin: auto 0;
        height: 60%;

        img {
          visibility: visible;
          margin-left: 10px;
          filter: invert(50%);
        }
      }

      img {
        visibility: hidden;
      }
    }
  }
}
