.table-details {
  font-size: 11px;
}

.table-details {
  th, td {
    flex: 1;
    margin: 16px 0;
  }

  tr {
    display: table-row;
  }

  td {
    font-size: 13px;
  }
}

.dataTables {
  &_scroll {
    margin: auto;
    // overflow-x: scroll;
    width: 70vw;
  }

  &_length {
    padding: 0 15px;
  }

  &_filter {
    padding: 0 15px;
  }

  &_info {
    padding: 0 15px;
  }

  &_paginate {
    padding: 0 15px;
  }

  &_wrapper.no-footer .dataTables_scrollBody {
    border-bottom-width: 0;
  }
}

// kilka warunków @media w pliku mediaquery.scss
